@import "tailwindcss";
@import "open-color/open-color.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
	--font-sans: var(--font-jakarta);

	/* Red */
	--color-oc-red-0: var(--oc-red-0); /* #fff5f5 */
	--color-oc-red-1: var(--oc-red-1); /* #ffe3e3 */
	--color-oc-red-2: var(--oc-red-2); /* #ffc9c9 */
	--color-oc-red-3: var(--oc-red-3); /* #ffa8a8 */
	--color-oc-red-4: var(--oc-red-4); /* #ff8787 */
	--color-oc-red-5: var(--oc-red-5); /* #ff6b6b */
	--color-oc-red-6: var(--oc-red-6); /* #fa5252 */
	--color-oc-red-7: var(--oc-red-7); /* #f03e3e */
	--color-oc-red-8: var(--oc-red-8); /* #e03131 */
	--color-oc-red-9: var(--oc-red-9); /* #c92a2a */

	/* Pink */
	--color-oc-pink-0: var(--oc-pink-0); /* #fff0f6 */
	--color-oc-pink-1: var(--oc-pink-1); /* #ffdeeb */
	--color-oc-pink-2: var(--oc-pink-2); /* #fcc2d7 */
	--color-oc-pink-3: var(--oc-pink-3); /* #faa2c1 */
	--color-oc-pink-4: var(--oc-pink-4); /* #f783ac */
	--color-oc-pink-5: var(--oc-pink-5); /* #f06595 */
	--color-oc-pink-6: var(--oc-pink-6); /* #e64980 */
	--color-oc-pink-7: var(--oc-pink-7); /* #d6336c */
	--color-oc-pink-8: var(--oc-pink-8); /* #c2255c */
	--color-oc-pink-9: var(--oc-pink-9); /* #a61e4d */

	/* Grape */
	--color-oc-grape-0: var(--oc-grape-0); /* #f8f0fc */
	--color-oc-grape-1: var(--oc-grape-1); /* #f3d9fa */
	--color-oc-grape-2: var(--oc-grape-2); /* #eebefa */
	--color-oc-grape-3: var(--oc-grape-3); /* #e599f7 */
	--color-oc-grape-4: var(--oc-grape-4); /* #da77f2 */
	--color-oc-grape-5: var(--oc-grape-5); /* #cc5de8 */
	--color-oc-grape-6: var(--oc-grape-6); /* #be4bdb */
	--color-oc-grape-7: var(--oc-grape-7); /* #ae3ec9 */
	--color-oc-grape-8: var(--oc-grape-8); /* #9c36b5 */
	--color-oc-grape-9: var(--oc-grape-9); /* #862e9c */

	/* Violet */
	--color-oc-violet-0: var(--oc-violet-0); /* #f3f0ff */
	--color-oc-violet-1: var(--oc-violet-1); /* #e5dbff */
	--color-oc-violet-2: var(--oc-violet-2); /* #d0bfff */
	--color-oc-violet-3: var(--oc-violet-3); /* #b197fc */
	--color-oc-violet-4: var(--oc-violet-4); /* #9775fa */
	--color-oc-violet-5: var(--oc-violet-5); /* #845ef7 */
	--color-oc-violet-6: var(--oc-violet-6); /* #7950f2 */
	--color-oc-violet-7: var(--oc-violet-7); /* #7048e8 */
	--color-oc-violet-8: var(--oc-violet-8); /* #6741d9 */
	--color-oc-violet-9: var(--oc-violet-9); /* #5f3dc4 */

	/* Indigo */
	--color-oc-indigo-0: var(--oc-indigo-0); /* #edf2ff */
	--color-oc-indigo-1: var(--oc-indigo-1); /* #dbe4ff */
	--color-oc-indigo-2: var(--oc-indigo-2); /* #bac8ff */
	--color-oc-indigo-3: var(--oc-indigo-3); /* #91a7ff */
	--color-oc-indigo-4: var(--oc-indigo-4); /* #748ffc */
	--color-oc-indigo-5: var(--oc-indigo-5); /* #5c7cfa */
	--color-oc-indigo-6: var(--oc-indigo-6); /* #4c6ef5 */
	--color-oc-indigo-7: var(--oc-indigo-7); /* #4263eb */
	--color-oc-indigo-8: var(--oc-indigo-8); /* #3b5bdb */
	--color-oc-indigo-9: var(--oc-indigo-9); /* #364fc7 */

	/* Blue */
	--color-oc-blue-0: var(--oc-blue-0); /* #e7f5ff */
	--color-oc-blue-1: var(--oc-blue-1); /* #d0ebff */
	--color-oc-blue-2: var(--oc-blue-2); /* #a5d8ff */
	--color-oc-blue-3: var(--oc-blue-3); /* #74c0fc */
	--color-oc-blue-4: var(--oc-blue-4); /* #4dabf7 */
	--color-oc-blue-5: var(--oc-blue-5); /* #339af0 */
	--color-oc-blue-6: var(--oc-blue-6); /* #228be6 */
	--color-oc-blue-7: var(--oc-blue-7); /* #1c7ed6 */
	--color-oc-blue-8: var(--oc-blue-8); /* #1971c2 */
	--color-oc-blue-9: var(--oc-blue-9); /* #1864ab */

	/* Cyan */
	--color-oc-cyan-0: var(--oc-cyan-0); /* #e3fafc */
	--color-oc-cyan-1: var(--oc-cyan-1); /* #c5f6fa */
	--color-oc-cyan-2: var(--oc-cyan-2); /* #99e9f2 */
	--color-oc-cyan-3: var(--oc-cyan-3); /* #66d9e8 */
	--color-oc-cyan-4: var(--oc-cyan-4); /* #3bc9db */
	--color-oc-cyan-5: var(--oc-cyan-5); /* #22b8cf */
	--color-oc-cyan-6: var(--oc-cyan-6); /* #15aabf */
	--color-oc-cyan-7: var(--oc-cyan-7); /* #1098ad */
	--color-oc-cyan-8: var(--oc-cyan-8); /* #0c8599 */
	--color-oc-cyan-9: var(--oc-cyan-9); /* #0b7285 */

	/* Teal */
	--color-oc-teal-0: var(--oc-teal-0); /* #e6fcf5 */
	--color-oc-teal-1: var(--oc-teal-1); /* #c3fae8 */
	--color-oc-teal-2: var(--oc-teal-2); /* #96f2d7 */
	--color-oc-teal-3: var(--oc-teal-3); /* #63e6be */
	--color-oc-teal-4: var(--oc-teal-4); /* #38d9a9 */
	--color-oc-teal-5: var(--oc-teal-5); /* #20c997 */
	--color-oc-teal-6: var(--oc-teal-6); /* #12b886 */
	--color-oc-teal-7: var(--oc-teal-7); /* #0ca678 */
	--color-oc-teal-8: var(--oc-teal-8); /* #099268 */
	--color-oc-teal-9: var(--oc-teal-9); /* #087f5b */

	/* Green */
	--color-oc-green-0: var(--oc-green-0); /* #ebfbee */
	--color-oc-green-1: var(--oc-green-1); /* #d3f9d8 */
	--color-oc-green-2: var(--oc-green-2); /* #b2f2bb */
	--color-oc-green-3: var(--oc-green-3); /* #8ce99a */
	--color-oc-green-4: var(--oc-green-4); /* #69db7c */
	--color-oc-green-5: var(--oc-green-5); /* #51cf66 */
	--color-oc-green-6: var(--oc-green-6); /* #40c057 */
	--color-oc-green-7: var(--oc-green-7); /* #37b24d */
	--color-oc-green-8: var(--oc-green-8); /* #2f9e44 */
	--color-oc-green-9: var(--oc-green-9); /* #2b8a3e */

	/* Lime */
	--color-oc-lime-0: var(--oc-lime-0); /* #f4fce3 */
	--color-oc-lime-1: var(--oc-lime-1); /* #e9fac8 */
	--color-oc-lime-2: var(--oc-lime-2); /* #d8f5a2 */
	--color-oc-lime-3: var(--oc-lime-3); /* #c0eb75 */
	--color-oc-lime-4: var(--oc-lime-4); /* #a9e34b */
	--color-oc-lime-5: var(--oc-lime-5); /* #94d82d */
	--color-oc-lime-6: var(--oc-lime-6); /* #82c91e */
	--color-oc-lime-7: var(--oc-lime-7); /* #74b816 */
	--color-oc-lime-8: var(--oc-lime-8); /* #66a80f */
	--color-oc-lime-9: var(--oc-lime-9); /* #5c940d */

	/* Yellow */
	--color-oc-yellow-0: var(--oc-yellow-0); /* #fff9db */
	--color-oc-yellow-1: var(--oc-yellow-1); /* #fff3bf */
	--color-oc-yellow-2: var(--oc-yellow-2); /* #ffec99 */
	--color-oc-yellow-3: var(--oc-yellow-3); /* #ffe066 */
	--color-oc-yellow-4: var(--oc-yellow-4); /* #ffd43b */
	--color-oc-yellow-5: var(--oc-yellow-5); /* #fcc419 */
	--color-oc-yellow-6: var(--oc-yellow-6); /* #fab005 */
	--color-oc-yellow-7: var(--oc-yellow-7); /* #f59f00 */
	--color-oc-yellow-8: var(--oc-yellow-8); /* #f08c00 */
	--color-oc-yellow-9: var(--oc-yellow-9); /* #e67700 */

	/* Orange */
	--color-oc-orange-0: var(--oc-orange-0); /* #fff4e6 */
	--color-oc-orange-1: var(--oc-orange-1); /* #ffe8cc */
	--color-oc-orange-2: var(--oc-orange-2); /* #ffd8a8 */
	--color-oc-orange-3: var(--oc-orange-3); /* #ffc078 */
	--color-oc-orange-4: var(--oc-orange-4); /* #ffa94d */
	--color-oc-orange-5: var(--oc-orange-5); /* #ff922b */
	--color-oc-orange-6: var(--oc-orange-6); /* #fd7e14 */
	--color-oc-orange-7: var(--oc-orange-7); /* #f76707 */
	--color-oc-orange-8: var(--oc-orange-8); /* #e8590c */
	--color-oc-orange-9: var(--oc-orange-9); /* #d9480f */

	/* Gray */
	--color-oc-gray-0: var(--oc-gray-0); /* #f8f9fa */
	--color-oc-gray-1: var(--oc-gray-1); /* #f1f3f5 */
	--color-oc-gray-2: var(--oc-gray-2); /* #e9ecef */
	--color-oc-gray-3: var(--oc-gray-3); /* #dee2e6 */
	--color-oc-gray-4: var(--oc-gray-4); /* #ced4da */
	--color-oc-gray-5: var(--oc-gray-5); /* #adb5bd */
	--color-oc-gray-6: var(--oc-gray-6); /* #868e96 */
	--color-oc-gray-7: var(--oc-gray-7); /* #495057 */
	--color-oc-gray-8: var(--oc-gray-8); /* #343a40 */
	--color-oc-gray-9: var(--oc-gray-9); /* #212529 */
}

@layer utilities {
	.custom-scrollbar::-webkit-scrollbar {
		width: 4px;
		height: 50px;
	}

	.custom-scrollbar::-webkit-scrollbar-track {
		background: var(--oc-gray-2);
	}

	.custom-scrollbar::-webkit-scrollbar-thumb {
		background-color: var(--oc-gray-4);
		border-radius: 50px;
	}

	.custom-scrollbar::-webkit-scrollbar-thumb:hover {
		background: var(--oc-gray-2);
	}
	.dark .custom-scrollbar::-webkit-scrollbar-thumb {
		background-color: var(--oc-gray-6);
	}

	.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
		background: var(--oc-gray-6);
		border-radius: 50px;
	}
	.dark .custom-scrollbar::-webkit-scrollbar-track {
		background: var(--oc-gray-9);
	}

	.dark .custom-slider {
		@apply bg-oc-gray-9;
	}

	.dark .custom-slider::-webkit-slider-thumb {
		@apply bg-oc-gray-2;
	}

	.dark .custom-slider::-moz-range-thumb {
		@apply bg-oc-gray-2;
	}

	.dark .custom-slider::-webkit-slider-runnable-track {
		@apply bg-oc-gray-7;
	}

	.dark .custom-slider::-moz-range-track {
		@apply bg-oc-gray-7;
	}

	.custom-slider {
		@apply w-full appearance-none bg-oc-grape-2;
	}

	.custom-slider::-webkit-slider-thumb {
		@apply w-4 h-4 bg-oc-gray-8 rounded-full cursor-pointer shadow;
		appearance: none;
		margin-top: -6px; /* adjust for alignment */
	}

	.custom-slider::-moz-range-thumb {
		@apply w-4 h-4 bg-oc-gray-8 rounded-full cursor-pointer shadow;
	}

	.custom-slider::-webkit-slider-runnable-track {
		@apply h-1 bg-oc-violet-2 rounded-2xl;
	}

	.custom-slider::-moz-range-track {
		@apply h-1 bg-oc-violet-2 rounded-2xl;
	}

	.custom-slider:focus {
		outline: none;
	}
}
