@import "tailwindcss";
@import "open-color/open-color.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
	--font-excali: var(--font-excali);
	--font-mononoki: var(--font-mononoki);
	--font-firacode: var(--font-firacode);
	--font-sourcecode: var(--font-sourceCode);
	--font-nunito: var(--font-nunito);
	--font-inter: var(--font-inter);
	--font-jakarta: var(--font-jakarta);
	--font-ibm: var(--font-ibm);
	--font-cutivemono: var(--font-cutivemono);
	--font-chilanka: var(--font-chilanka);
	--font-comic: var(--font-comic);
	--font-excali: var(--font-excali);
	--font-monospace: var(--font-monospace);
	--font-virgil: var(--font-virgil);
	--font-mononoki: var(--font-mononoki);
	--font-caveat: var(--font-caveat);

	/* === Backgrounds === */
	--color-dark-bg: #232329;
	--color-dark-bg-alt: #121212;
	--color-dark-bg-alt-darker: #1e1e1e;
	--color-dark-bg-popup: #121212;
	--color-dark-bg-editor: #121212;
	--color-dark-bg-dashboard: #232329;

	/* === Inputs & Sidebar === */
	--color-dark-bg-input: #121212;
	--color-dark-bg-input-hover: #141414;
	--color-dark-bg-sidebar-toggle: #aaa;
	--color-dark-bg-sidebar-toggle-hover: #bbb;
	--color-dark-bg-sidebar-toggle-active: #888;

	/* === Grays (hover, active, selected) === */
	--color-dark-bg-gray-hover: #292929;
	--color-dark-bg-gray-selected: #3d3d3d;
	--color-dark-bg-gray-active: #363636;

	/* === Buttons === */
	--color-dark-bg-button: #ccc;
	--color-dark-bg-button-hover: #bbb;
	--color-dark-bg-button-active: #aaa;
	--color-dark-button-gray-1: #363636;
	--color-dark-button-gray-2: #3d3d3d;
	--color-dark-button-gray-3: #212121;
	--color-dark-button-hover: #131313;
	--color-dark-button-active: #0e0e0e;
	--color-dark-button-disabled-color: #868e96;
	--color-dark-button-disabled-bg-color: #343a40;

	/* === States === */
	--color-dark-light: #121212;
	--color-dark-light-alt: #1e1e1e;
	--color-dark-hover: #131313;
	--color-dark-active: #0e0e0e;

	/* === Borders === */
	--color-dark-border: #151515;
	--color-dark-border-light: #191919;
	--color-dark-border-input: #212121;
	--color-dark-border-outline: #8e8d9c;
	--color-dark-border-outline-variant: #46464f;

	/* === Shadows === */
	--color-dark-shadow-border: #ffffff3d;

	/* === Text === */
	--color-dark-text: #ced4da;
	--color-dark-text-subtitle: #868e96;
	--color-dark-text-error: #ff6b6b;

	/* === Links === */
	--color-dark-link: #74c0fc;
	--color-dark-link-active: #d0ebff;
	--color-dark-link-onBg: #e7f5ff;
	--color-dark-link-onBg-active: #fff;

	/* === Icons === */
	--color-dark-icon: #ddd;
	--color-dark-icon-secondary: #868e96;
	--color-dark-icon-spinner: #ced4da;
	--color-dark-icon-green: #8ce99a;

	/* === Scrollbar === */
	--color-dark-scrollbar-thumb: #3d3d3d;
	--color-dark-scrollbar-thumb-hover: #383838;
	--color-dark-scrollbar-thumb-active: #333;

	/*LIGHT*/
	/* === Brand / Primary === */
	--color-light-primary: #6965db;
	--color-light-primary-darker: #5b57d1;
	--color-light-primary-darkest: #4a47b1;
	--color-light-primary-light: #e2e1fc;
	--color-light-brand-active: #4440bf;
	--color-light-brand-hover: #5753d0;

	/* === Status Colors === */
	--color-light-success: #65db69;
	--color-light-success-dark: #268029;
	--color-light-danger: #db6965;
	--color-light-danger-light: #fcccca;
	--color-light-danger-dark: #802926;
	--color-light-warn: #ffce50;
	--color-light-warn-dark: #cf9911;

	/* === Grays === */
	--color-light-gray-0: #ffffff;
	--color-light-gray-10: #f5f5f5;
	--color-light-gray-20: #ebebeb;
	--color-light-gray-30: #d6d6d6;
	--color-light-gray-40: #b8b8b8;
	--color-light-gray-60: #7a7a7a;
	--color-light-gray-70: #5c5c5c;
	--color-light-gray-80: #3d3d3d;
	--color-light-gray-90: #242424;

	/* === Surfaces === */
	--color-light-surface-high: #f0efff;
	--color-light-surface-low: #f5f5f9;
	--color-light-surface-low-for-dropdown: #ffffff;
	--color-light-surface-low-hover: #f5f5fc;
	--color-light-surface-lowest: #ffffff;
	--color-light-surface-primary-container: #e0dfff;
	--color-light-surface-text: #1b1b1f;
	--color-light-surface-text-variant: #46464f;
	--color-light-on-surface: #1b1b1f;
	--color-light-blue-surface-container: #99e4fd;
	--color-light-on-primary-container: #190064;

	/* === Backgrounds === */
	--color-light-bg: #ffffff;
	--color-light-bg-popup: #ffffff;
	--color-light-bg-input: #ffffff;
	--color-light-bg-input-hover: #f8f9fa;

	/* === Buttons === */
	--color-light-button-gray-2: #ced4da;
	--color-light-button-hover: #343a40;
	--color-light-button-active: #343a40;

	/* === Borders === */
	--color-light-border: #dddddd;
	--color-light-border-input: #aaaaaa;
	--color-light-border-outline: #767680;
	--color-light-border-outline-variant: #c5c5d0;
	--color-light-outline-focus: var(--color-light-primary);
	--color-light-shadow-border: #0000003d;
	--color-light-shadow-island: 0 0 0 1px #e2e2e2;

	/* === Text === */
	--color-light-text: #343a40;
	--color-light-color-text: var(--color-light-text);
	--color-light-text-subtitle: #868e96;
	--color-light-text-error: #c92a2a;
	--color-light-red: #ff6b6b;

	/* === Links === */
	--color-light-link: #228be6;
	--color-light-link-active: #74c0fc;

	/* === Semantic Colors === */
	--color-light-red-based: #ff9494;
	--color-light-red-highest: #700000;
	--color-light-red-light: #ffdad6;
	--color-light-red-lighter: #fff0f0;
	--color-light-green-based: #a2f1a6;
	--color-light-green-low: #d3ffd2;
	--color-light-green-lowest: #f6fff1;
	--color-light-green-highest: #0b6513;
	--color-light-yellow-light: #fff0c9;
	--color-light-yellow-lighter: #fffbf0;
	--color-light-yellow-darker: #705400;
	--color-light-blue-light: #d1ecff;
	--color-light-blue-lighter: #f0fbff;
	--color-light-orange-lowest: #fff4eb;

	/* === Icons === */
	--color-light-icon: #000000;

	/* === Scrollbar === */
	--color-light-scrollbar-thumb: #cccccc;
	--color-light-scrollbar-thumb-hover: #bbbbbb;
	--color-light-scrollbar-thumb-active: #aaaaaa;

	/* === Misc === */
	--color-light: #ffffff;
	--color-light-default: #ffffff;
	--color-light-island: #ffffff;
	--color-light-max-width-container: 1440px;
	--color-light-zIndex-modal-high: 910;
	--color-light-zIndex-modal: 900;
	--color-light-bg-modalBackdrop: #00000080;
	--color-light-width-scrollbar: 17px;
	--color-light-space-factor: 0.25rem;

	/* === Animations === */
	--color-light-animate-none: none;

	--animate-float: float 2s ease-in-out infinite alternate both;

	@keyframes float {
		0% {
			transform: translateY(-5px);
		}
		100% {
			transform: translateY(5px);
		}
	}

	--color-vivid-violet-50: #faf6fd;
	--color-vivid-violet-100: #f4edfa;
	--color-vivid-violet-200: #e8d9f5;
	--color-vivid-violet-300: #d8bceb;
	--color-vivid-violet-400: #c293df;
	--color-vivid-violet-500: #a669cc;
	--color-vivid-violet-600: #8a49b0;
	--color-vivid-violet-700: #793d98;
	--color-vivid-violet-800: #5f3177;
	--color-vivid-violet-900: #522d62;
	--color-vivid-violet-950: #31133f;

	--color-canvora-50: #e9e9fa;
	--color-canvora-100: #d2d2f5;
	--color-canvora-200: #babaf0;
	--color-canvora-300: #a2a2ea;
	--color-canvora-400: #8b8be5;
	--color-canvora-500: #6965db;
	--color-canvora-600: #5954c5;
	--color-canvora-700: #4945a9;
	--color-canvora-800: #38368c;
	--color-canvora-900: #26276f;

	--color-purple-heart-50: #eff0fe;
	--color-purple-heart-100: #e2e3fd;
	--color-purple-heart-200: #cacbfb;
	--color-purple-heart-300: #acaaf7;
	--color-purple-heart-400: #9288f1;
	--color-purple-heart-500: #806be9;
	--color-purple-heart-600: #6741d9;
	--color-purple-heart-700: #6340c2;
	--color-purple-heart-800: #51379c;
	--color-purple-heart-900: #43337c;
	--color-purple-heart-950: #281e48;

	--color-blue-marguerite-50: #f0f2fd;
	--color-blue-marguerite-100: #e4e8fb;
	--color-blue-marguerite-200: #ced4f7;
	--color-blue-marguerite-300: #b0b7f1;
	--color-blue-marguerite-400: #9093e9;
	--color-blue-marguerite-500: #6965db;
	--color-blue-marguerite-600: #685ad1;
	--color-blue-marguerite-700: #594bb7;
	--color-blue-marguerite-800: #493f94;
	--color-blue-marguerite-900: #3e3976;
	--color-blue-marguerite-950: #252145;

	/* Red */
	--color-oc-red-0: var(--oc-red-0); /* #fff5f5 */
	--color-oc-red-1: var(--oc-red-1); /* #ffe3e3 */
	--color-oc-red-2: var(--oc-red-2); /* #ffc9c9 */
	--color-oc-red-3: var(--oc-red-3); /* #ffa8a8 */
	--color-oc-red-4: var(--oc-red-4); /* #ff8787 */
	--color-oc-red-5: var(--oc-red-5); /* #ff6b6b */
	--color-oc-red-6: var(--oc-red-6); /* #fa5252 */
	--color-oc-red-7: var(--oc-red-7); /* #f03e3e */
	--color-oc-red-8: var(--oc-red-8); /* #e03131 */
	--color-oc-red-9: var(--oc-red-9); /* #c92a2a */

	/* Pink */
	--color-oc-pink-0: var(--oc-pink-0); /* #fff0f6 */
	--color-oc-pink-1: var(--oc-pink-1); /* #ffdeeb */
	--color-oc-pink-2: var(--oc-pink-2); /* #fcc2d7 */
	--color-oc-pink-3: var(--oc-pink-3); /* #faa2c1 */
	--color-oc-pink-4: var(--oc-pink-4); /* #f783ac */
	--color-oc-pink-5: var(--oc-pink-5); /* #f06595 */
	--color-oc-pink-6: var(--oc-pink-6); /* #e64980 */
	--color-oc-pink-7: var(--oc-pink-7); /* #d6336c */
	--color-oc-pink-8: var(--oc-pink-8); /* #c2255c */
	--color-oc-pink-9: var(--oc-pink-9); /* #a61e4d */

	/* Grape */
	--color-oc-grape-0: var(--oc-grape-0); /* #f8f0fc */
	--color-oc-grape-1: var(--oc-grape-1); /* #f3d9fa */
	--color-oc-grape-2: var(--oc-grape-2); /* #eebefa */
	--color-oc-grape-3: var(--oc-grape-3); /* #e599f7 */
	--color-oc-grape-4: var(--oc-grape-4); /* #da77f2 */
	--color-oc-grape-5: var(--oc-grape-5); /* #cc5de8 */
	--color-oc-grape-6: var(--oc-grape-6); /* #be4bdb */
	--color-oc-grape-7: var(--oc-grape-7); /* #ae3ec9 */
	--color-oc-grape-8: var(--oc-grape-8); /* #9c36b5 */
	--color-oc-grape-9: var(--oc-grape-9); /* #862e9c */

	/* Violet */
	--color-oc-violet-0: var(--oc-violet-0); /* #f3f0ff */
	--color-oc-violet-1: var(--oc-violet-1); /* #e5dbff */
	--color-oc-violet-2: var(--oc-violet-2); /* #d0bfff */
	--color-oc-violet-3: var(--oc-violet-3); /* #b197fc */
	--color-oc-violet-4: var(--oc-violet-4); /* #9775fa */
	--color-oc-violet-5: var(--oc-violet-5); /* #845ef7 */
	--color-oc-violet-6: var(--oc-violet-6); /* #7950f2 */
	--color-oc-violet-7: var(--oc-violet-7); /* #7048e8 */
	--color-oc-violet-8: var(--oc-violet-8); /* #6741d9 */
	--color-oc-violet-9: var(--oc-violet-9); /* #5f3dc4 */

	/* Indigo */
	--color-oc-indigo-0: var(--oc-indigo-0); /* #edf2ff */
	--color-oc-indigo-1: var(--oc-indigo-1); /* #dbe4ff */
	--color-oc-indigo-2: var(--oc-indigo-2); /* #bac8ff */
	--color-oc-indigo-3: var(--oc-indigo-3); /* #91a7ff */
	--color-oc-indigo-4: var(--oc-indigo-4); /* #748ffc */
	--color-oc-indigo-5: var(--oc-indigo-5); /* #5c7cfa */
	--color-oc-indigo-6: var(--oc-indigo-6); /* #4c6ef5 */
	--color-oc-indigo-7: var(--oc-indigo-7); /* #4263eb */
	--color-oc-indigo-8: var(--oc-indigo-8); /* #3b5bdb */
	--color-oc-indigo-9: var(--oc-indigo-9); /* #364fc7 */

	/* Blue */
	--color-oc-blue-0: var(--oc-blue-0); /* #e7f5ff */
	--color-oc-blue-1: var(--oc-blue-1); /* #d0ebff */
	--color-oc-blue-2: var(--oc-blue-2); /* #a5d8ff */
	--color-oc-blue-3: var(--oc-blue-3); /* #74c0fc */
	--color-oc-blue-4: var(--oc-blue-4); /* #4dabf7 */
	--color-oc-blue-5: var(--oc-blue-5); /* #339af0 */
	--color-oc-blue-6: var(--oc-blue-6); /* #228be6 */
	--color-oc-blue-7: var(--oc-blue-7); /* #1c7ed6 */
	--color-oc-blue-8: var(--oc-blue-8); /* #1971c2 */
	--color-oc-blue-9: var(--oc-blue-9); /* #1864ab */

	/* Cyan */
	--color-oc-cyan-0: var(--oc-cyan-0); /* #e3fafc */
	--color-oc-cyan-1: var(--oc-cyan-1); /* #c5f6fa */
	--color-oc-cyan-2: var(--oc-cyan-2); /* #99e9f2 */
	--color-oc-cyan-3: var(--oc-cyan-3); /* #66d9e8 */
	--color-oc-cyan-4: var(--oc-cyan-4); /* #3bc9db */
	--color-oc-cyan-5: var(--oc-cyan-5); /* #22b8cf */
	--color-oc-cyan-6: var(--oc-cyan-6); /* #15aabf */
	--color-oc-cyan-7: var(--oc-cyan-7); /* #1098ad */
	--color-oc-cyan-8: var(--oc-cyan-8); /* #0c8599 */
	--color-oc-cyan-9: var(--oc-cyan-9); /* #0b7285 */

	/* Teal */
	--color-oc-teal-0: var(--oc-teal-0); /* #e6fcf5 */
	--color-oc-teal-1: var(--oc-teal-1); /* #c3fae8 */
	--color-oc-teal-2: var(--oc-teal-2); /* #96f2d7 */
	--color-oc-teal-3: var(--oc-teal-3); /* #63e6be */
	--color-oc-teal-4: var(--oc-teal-4); /* #38d9a9 */
	--color-oc-teal-5: var(--oc-teal-5); /* #20c997 */
	--color-oc-teal-6: var(--oc-teal-6); /* #12b886 */
	--color-oc-teal-7: var(--oc-teal-7); /* #0ca678 */
	--color-oc-teal-8: var(--oc-teal-8); /* #099268 */
	--color-oc-teal-9: var(--oc-teal-9); /* #087f5b */

	/* Green */
	--color-oc-green-0: var(--oc-green-0); /* #ebfbee */
	--color-oc-green-1: var(--oc-green-1); /* #d3f9d8 */
	--color-oc-green-2: var(--oc-green-2); /* #b2f2bb */
	--color-oc-green-3: var(--oc-green-3); /* #8ce99a */
	--color-oc-green-4: var(--oc-green-4); /* #69db7c */
	--color-oc-green-5: var(--oc-green-5); /* #51cf66 */
	--color-oc-green-6: var(--oc-green-6); /* #40c057 */
	--color-oc-green-7: var(--oc-green-7); /* #37b24d */
	--color-oc-green-8: var(--oc-green-8); /* #2f9e44 */
	--color-oc-green-9: var(--oc-green-9); /* #2b8a3e */

	/* Lime */
	--color-oc-lime-0: var(--oc-lime-0); /* #f4fce3 */
	--color-oc-lime-1: var(--oc-lime-1); /* #e9fac8 */
	--color-oc-lime-2: var(--oc-lime-2); /* #d8f5a2 */
	--color-oc-lime-3: var(--oc-lime-3); /* #c0eb75 */
	--color-oc-lime-4: var(--oc-lime-4); /* #a9e34b */
	--color-oc-lime-5: var(--oc-lime-5); /* #94d82d */
	--color-oc-lime-6: var(--oc-lime-6); /* #82c91e */
	--color-oc-lime-7: var(--oc-lime-7); /* #74b816 */
	--color-oc-lime-8: var(--oc-lime-8); /* #66a80f */
	--color-oc-lime-9: var(--oc-lime-9); /* #5c940d */

	/* Yellow */
	--color-oc-yellow-0: var(--oc-yellow-0); /* #fff9db */
	--color-oc-yellow-1: var(--oc-yellow-1); /* #fff3bf */
	--color-oc-yellow-2: var(--oc-yellow-2); /* #ffec99 */
	--color-oc-yellow-3: var(--oc-yellow-3); /* #ffe066 */
	--color-oc-yellow-4: var(--oc-yellow-4); /* #ffd43b */
	--color-oc-yellow-5: var(--oc-yellow-5); /* #fcc419 */
	--color-oc-yellow-6: var(--oc-yellow-6); /* #fab005 */
	--color-oc-yellow-7: var(--oc-yellow-7); /* #f59f00 */
	--color-oc-yellow-8: var(--oc-yellow-8); /* #f08c00 */
	--color-oc-yellow-9: var(--oc-yellow-9); /* #e67700 */

	/* Orange */
	--color-oc-orange-0: var(--oc-orange-0); /* #fff4e6 */
	--color-oc-orange-1: var(--oc-orange-1); /* #ffe8cc */
	--color-oc-orange-2: var(--oc-orange-2); /* #ffd8a8 */
	--color-oc-orange-3: var(--oc-orange-3); /* #ffc078 */
	--color-oc-orange-4: var(--oc-orange-4); /* #ffa94d */
	--color-oc-orange-5: var(--oc-orange-5); /* #ff922b */
	--color-oc-orange-6: var(--oc-orange-6); /* #fd7e14 */
	--color-oc-orange-7: var(--oc-orange-7); /* #f76707 */
	--color-oc-orange-8: var(--oc-orange-8); /* #e8590c */
	--color-oc-orange-9: var(--oc-orange-9); /* #d9480f */

	/* Gray */
	--color-oc-gray-0: var(--oc-gray-0); /* #f8f9fa */
	--color-oc-gray-1: var(--oc-gray-1); /* #f1f3f5 */
	--color-oc-gray-2: var(--oc-gray-2); /* #e9ecef */
	--color-oc-gray-3: var(--oc-gray-3); /* #dee2e6 */
	--color-oc-gray-4: var(--oc-gray-4); /* #ced4da */
	--color-oc-gray-5: var(--oc-gray-5); /* #adb5bd */
	--color-oc-gray-6: var(--oc-gray-6); /* #868e96 */
	--color-oc-gray-7: var(--oc-gray-7); /* #495057 */
	--color-oc-gray-8: var(--oc-gray-8); /* #343a40 */
	--color-oc-gray-9: var(--oc-gray-9); /* #212529 */
}

@layer utilities {
	/* Page background gradients */
	.bg-page-gradient-green {
		background-image:
			linear-gradient(138.59deg, #d3ffd225 4.71%, #d3ffd200 32.89%),
			radial-gradient(
				52.08% 32.07% at 97.32% 50.03%,
				#d3ffd240 0%,
				#d3ffd220 100%
			);
	}
	.bg-page-gradient-purple {
		background-image:
			linear-gradient(140deg, #d3ffd250 5%, #d3ffd200 90%),
			radial-gradient(40% 60% at 97% 75%, #d3ffd250 0%, #d3ffd200 100%);
	}
	.bg-gradient-card {
		background-image:
			linear-gradient(140deg, #5954c550 5%, #5954c500 90%),
			radial-gradient(40% 60% at 97% 75%, #5954c550 0%, #5954c500 100%);
	}
	.bg-page-radial-gradient {
		background-image: radial-gradient(
			50% 50% at 50% 50%,
			#685ad15c 0%,
			#0000 100%
		);
	}

	.custom-scrollbar::-webkit-scrollbar {
		width: 4px;
		height: 4px;
	}

	.custom-scrollbar::-webkit-scrollbar-track {
		background: var(--oc-gray-2);
	}

	.custom-scrollbar::-webkit-scrollbar-thumb {
		background-color: var(--oc-gray-4);
		border-radius: 50px;
	}

	.custom-scrollbar::-webkit-scrollbar-thumb:hover {
		background: var(--oc-gray-2);
	}
	.dark .custom-scrollbar::-webkit-scrollbar-thumb {
		background-color: var(--oc-gray-6);
	}

	.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
		background: var(--oc-gray-6);
		border-radius: 50px;
	}
	.dark .custom-scrollbar::-webkit-scrollbar-track {
		background: var(--oc-gray-9);
	}

	.dark .custom-slider {
		@apply bg-oc-gray-9;
	}

	.dark .custom-slider::-webkit-slider-thumb {
		@apply bg-oc-gray-2;
	}

	.dark .custom-slider::-moz-range-thumb {
		@apply bg-oc-gray-2;
	}

	.dark .custom-slider::-webkit-slider-runnable-track {
		@apply bg-oc-gray-7;
	}

	.dark .custom-slider::-moz-range-track {
		@apply bg-oc-gray-7;
	}

	.custom-slider {
		@apply w-full appearance-none;
	}

	.custom-slider::-webkit-slider-thumb {
		@apply w-4 h-4 bg-oc-gray-8 rounded-full cursor-pointer shadow;
		appearance: none;
		margin-top: -6px; /* adjust for alignment */
	}

	.custom-slider::-moz-range-thumb {
		@apply w-4 h-4 bg-oc-gray-8 rounded-full cursor-pointer shadow;
	}

	.custom-slider::-webkit-slider-runnable-track {
		@apply h-1 bg-oc-violet-2 rounded-2xl;
	}

	.custom-slider::-moz-range-track {
		@apply h-1 bg-oc-violet-2 rounded-2xl;
	}

	.custom-slider:focus {
		outline: none;
	}
}

/* Chrome / Safari / Edge */
.cus-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Firefox */
.cus-scrollbar {
	scrollbar-width: none;
}

/* Force landing page to ignore dark styles */
/* .landing-force-light,
.landing-force-light * {
	--tw-bg-opacity: initial !important;
	--tw-text-opacity: initial !important;
	color: initial !important;
	background-color: initial !important;
} */
/* 
.dark .landing-force-light {
	@apply bg-white text-black;
}

.dark .landing-force-light * {
	@apply text-black bg-transparent;
} */
